{% block content %}
<ul
  class="navbar-nav bg-customm sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">PlaCheck <sup>G</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link"
      href="{% url 'learning_journal' %}"
      data-toggle="#"
      data-target="#"
      aria-expanded="true"
      aria-controls=""
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>Data Learning Journal</span>
    </a>
  </li>

  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link"
      href="{% url 'matkul' %}"
      data-toggle=""
      data-target="#"
      aria-expanded="true"
      aria-controls=""
    >
      <i class="fas fa-fw fa-folder"></i>
      <span>Mata Kuliah</span>
    </a>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link"
      href="{% url 'plagiarism' %}"
      data-toggle=""
      data-target="#"
      aria-expanded="true"
      aria-controls=""
    >
      <i class="fas fa-tasks"></i>
      <span>Deteksi Plagiarism</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      href="{% url 'form_mahasiswa' %}"
      data-toggle=""
      data-target="#"
      aria-expanded="true"
      aria-controls=""
    >
      <i class="fas fa-tasks"></i>
      <span>Form Mahasiswa</span>
    </a>
  </li>

  <!-- Nav Item - Charts -->
  <!-- <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Scoring</span></a>
    </li> -->

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/Auth">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
{% endblock content %}
